body{margin: 0;background:#5bc7f9  url(../img/noise.png);}


#signin,#signout,#shared{width: 200px; height: 200px; margin: 10px; text-align: center; float: left; background: red;}
.lock{display: none;}